#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#card {
  padding: 2em;
  margin-bottom: 2em;
}
.max-lines {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Replace with the maximum number of lines you want to display */
  -webkit-box-orient: vertical;  
  overflow: hidden;
}